@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root[color-theme= "light"] {
    --background: rgb(251, 253, 238);
    --highlight-text : yellow;
    --basic-text : #000;
    --box-shadow: 2px 2px 8px rgba(0,0,0,0.7);
    --header-text-color: hsla(0,0%,94%,.7);
}

:root[color-theme= "dark"] {
    --background: rgb(24, 24, 24);
    --highlight-text : yellow;
    --basic-text : #fff;
    --box-shadow: 2px 2px 8px rgba(255,255,255,0.7);
    --header-text-color: hsla(0,0%,94%,.7);
}

:root {
    --margin : 1rem;
    --padding : 1rem;
    --gap : 1rem;
    --minRangeValue : 300px; 
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

html,body,h2,ol,ul,li,p, figure{
    margin: 0;
    padding: 0;
}

* {
    font-family: 'SUIT-Medium';
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,ul,li {
    list-style: none;
}

body {
    background: var(--background);
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body.active{
    overflow: auto;
    margin-top: 50px;
}

.hidden {
    display: none;
}

header {
    position: fixed;
    top: -50%;
    width: 100%;
    height: 50px;
    background-color: #1a1b1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    transition: all .5s ease-out;
    z-index: 9999;
}

header.change {
    background-color: #4b4d52;
}

header.active {
    top: 0;
}

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#loginForm input {
    background-color: inherit;
    border: none;
    padding: var(--padding);
    color: var(--basic-text);
    outline: none;
    font-size: 1.5rem;
}

#loginForm:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: .3s ease-out;
    opacity: 0;
}

#loginForm label {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 1.5rem;
    color: #888;
    visibility: hidden;
    opacity: 0;
    line-height: 54px;
    transition: .3s ease-out;
}

#loginForm:hover:before{
    width: 100%;
    opacity: 1;
}

#loginForm:focus-within label {
    top: -30px;
    opacity: 1;
    visibility: visible;
}

#loginForm input:focus-within::placeholder {
    opacity: 0;
}

.greeting {
    color: var(--header-text-color);
    transition: .3s ease-out;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuList{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--header-text-color);
}

.menuList li a{
    margin-left: 2rem;
    position: relative;
    z-index: 1;
    font-weight: bold;
}

.menuList li a:hover {
    color: #f0f0f0;
}

.menuList li a:before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -10px;
    background-color: #fdc090;
    z-index: -1;
    transition: .3s ease-out;
}

.menuList li a:hover:before {
    width: 100%;
}

.menuList li a.active {
    color: #ef535d;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    height: 100%;
}

.container.active {
    opacity: 1;
    pointer-events: all;
}

.slideWrapper {
    position: absolute;
    width: 100%;
}

.slideWrapper.animated {
    transition: .3s ease-out;
}

.toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2c31;
    padding: 1rem;
    border-radius: 20px;
}

.counter {
    margin-top: 1rem;
}

.view-options {
    display: flex;
    align-items: center;
}

.view-options li:not(:last-child){
margin-right: 1.2rem;
}

.view-options button {
padding: 2px;
border: 3px solid transparent;
}

.view-options .active button {
border-color: var(--darkgreen);
}

.DoList {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    top: 0;
  }

#leftBtn {
    display: none;
    position: fixed;
    left: 0;
    width: 15px;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    margin-left: 20px;
    opacity: 0.1;
}

#leftBtn.disabled, #rightBtn.disabled{
    display: none;
}

#leftBtn.active {
    opacity: 1;
}

#rightBtn {
    display: none;
    position: fixed;
    right: 0;
    width: 15px;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
    margin-right: 20px;
    opacity: 0.1;
}

#rightBtn.active {
    opacity: 1;
}

.toDoWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border-radius: 20px;
    opacity: 0;
    transition: .3s;
    pointer-events: none;
    min-width: 500px;
    min-height: 200px;
}

.toDoWrapper.active {
    opacity: 1;
    pointer-events: all;
}

#content button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: .3s ease-out;
}

#content button.active {
    opacity: 1;
}

.toDoWrapper form:before {
    content: '';
    width: 100%;
    height: 30px;
    top: 0;
    background: rgba(128, 128, 128, 0.384);
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.toDoWrapper .wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px 20px 20px;
    gap: 3rem;
    justify-content: space-between;
}

.toDoWrapper .wrapper figure {
    display: flex;
    background-color: rgba(211, 211, 211, 0.233);
    padding: 20px;
    border-radius: 10px;
}

.wrapper figure input {
    background: none;
    border: none;
}

.detailWrapper {
    display: none;
    width: 100%;
    gap: 1rem;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: .3s ease-out;
    position: relative;
}

.detailWrapper.active {
    display: flex;
}

#classification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    order: -1;
    overflow: hidden;
}

.toDoWrapper .wrapper .front:hover {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    
}

#classification .back > input{
    display: none;
}


#classification .back {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 9999;
    background-color: #2b2c31;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 15px;
    transition: .3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

#classification .back.active {
    opacity: 1;
    pointer-events: all;

}

#classification .back:before {
    content: '분류';
    color: #f0f0f0;
    position: fixed;
    top: 0;
    background-color: #3b6886;
    width: 100%;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

#classification .back input[type="text"]{
    display: block;
}

#classification .back label {
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    color: #f0f0f0;
    opacity: 1;
}

#classification .back #check {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    cursor: pointer;
}

#classification .back label:not(:last-of-type){
    margin-right: 1rem
}

#classification p + span {
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    color: #f0f0f0;
    text-shadow: 2px 2px 8px #000;
    text-align: left;
}

#classification span.cft{
    background-color: #ac6267;
    padding: 0px 5px;
    border-radius: 20px;
    cursor: pointer;
    color: #f0f0f0;
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 155px;
}


input[id="공부"]:checked ~ label[for="공부"] {
    background-color: #3b6886;
}
input[id="집안일"]:checked ~ label[for="집안일"] {
    background-color: #ac6267;
}
input[id="은비"]:checked ~ label[for="은비"] {
    background-color: #7bc26c;
}
input[id="기타"]:checked ~ label[for="기타"] {
    background-color: #acaa49;
}

#closing-date {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    width: 100%;
    align-items: center;
}

#important {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
}

#location {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
}



#closing-date span.cft {
    background-color: #3c5f8d;
    padding: 0px 5px;
    border-radius: 20px;
    cursor: pointer;
    color: #f0f0f0;
    opacity: 1;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 10px;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex: 1 1 auto;
    width: 100%;
    position: relative;
    order: -2;
    background-color: #4b4d52;
    color: #fff;
    font-weight: bold;
}

.detailWrite {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    padding: 5px;
    opacity: 0.2;
}

.detailWrite span {
    flex: 1 1 auto;
}

.detailWrite i {
    transition: .3s ease-out;
    transform: rotate(-90deg);
}

.detailWrite:hover {
    opacity: 1;
}

.detailWrite:hover i{
    color: #3498db;
    transform: rotate(0);
}

#contents {
    color: #fff;
}

#contents::placeholder {
    color: #fff;
}

#content p {
    white-space: nowrap;
}


#content .back{
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
}



#content .back input {
    outline: none;
    text-align: center;
    position: relative;
}

#content .back input:focus::placeholder{
    opacity: 0;
}

.contentsWrapper {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.ListNavBar {
    flex: 1 1 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    gap: 1rem;
}

.ListNavBar ul {
    display: flex;
    gap: 1rem;
    flex: 1 1 auto;
}

.ListNavBar ul li {
    color: #f0f0f0;
}

.ListNavBar ul li:first-child.active{
    color: #fbbd8f;
}

.contentsWrapper .arrow {
    position: absolute;
    top: 20%;
    color: #f0f0f0;
}

.contentsWrapper #left {
    right: 100%;
}

.contentsWrapper #right{
    left: 100%;
}

.fa-gear {
    color: #fff;
    cursor: pointer;
}

#rangeInput {
    opacity: 0;
    transition: .3s ease-out;
    pointer-events: none;
}

#rangeInput.active {
    opacity: 1;
    pointer-events: all;
}

.navWrapper {
    display: none;
/*     display: flex; */
    gap: 2rem;
    margin: 0 auto;
    max-width: 1280px;
    padding: 1rem;
    position: sticky;
    top: 55px;
    z-index: 1000;
    background-color: #656b6e;
    height: 56px;
    align-items: center;
    border-radius: 20px;
}

.sideBtn {
    cursor: pointer;
    padding: 5px;
    background-color: #3b6886;
    border-radius: 5px;
    position: relative;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBtn:before {
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #031520;
    transition: .3s;
}

.sideBtn:hover:before{
    width: 100%;
    color: white;
    content: '>>>';
}

.sidemenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1b1e;
    width: 100%;
    height: 100%;
    max-width: 150px;
    border-radius: 10px;
    color: #6e6f78;
    transition: .3s ease-out;
    cursor: pointer;
    position: fixed;
    top: 100px;
    transform: translateX(-120%);
    text-indent: -9999em;
}

.sidemenu.active {
    transform: none;
    text-indent: 0;
}

.sidemenu.active li {
    z-index: 9999;
}

.sidemenu h3{
    color: #e4e5e7;

}

.sidemenu li{
    margin: 3rem auto;
}

#toDoList {
    opacity: 0;
    pointer-events: none;
}

#toDoList.active.cardview {
    background-color: #1a1b1e;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    opacity: 1;
    transition: .3s ease-out;
    gap: 2rem;
    flex: 1 1 auto;
    pointer-events: all;
    position: relative;
    margin-top: 2rem;
    height: 100%;
}

#toDoList.active.listview {
    width: 100%;
    border-radius: 10px;
    padding: 1rem;
    opacity: 1;
    transition: .3s ease-out;
    gap: 2rem;
    flex: 1 1 auto;
    pointer-events: all;
    position: relative;
    margin-top: 2rem;
    height: 100%;
    display: grid;
}



#toDoList.cardview > li:not(:first-of-type) {
    display: flex;
    justify-content: start;
    padding: 10px;
    background-color: #8BC6EC;
    background-image: linear-gradient(300deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    transition: .3s ease-out;
    min-width: var(--minRangeValue);
    flex: 1 1 auto;
    min-height: 350px;
}

#toDoList.listview > li:not(:first-of-type) {
    min-height: 0;
    display: flex;
    background-color: #717685;
    border-radius: 10px;
    gap: 1rem;
    transition: .3s ease-out;
    padding: 0 2rem;
    align-items: center;
    text-align: center;
}

#toDoList.cardview > li:hover {
    transform: translateY(-5px);
}

#toDoList.cardview > li:not(:first-of-type):before {
    content: '';
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: -2px;
    left: 0;
    background-color: #2b2c31;
    border-radius: 0 0 20px 20px;
}

#toDoList.cardview li .liMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 40%;
    font-size: 2rem;
    word-break: break-all;
    text-shadow: 1px 1px 1px gray;
}

#toDoList.listview li .liMain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 40%;
    font-size: 2rem;
    word-break: break-all;
    text-shadow: 1px 1px 1px gray;
    margin-left: 1rem;
}

#toDoList.cardview li .liClosingDate{
    margin: 15px 8px;
    padding: 5px 12px;
    color: #e4e5e7;
    font-size: 0.8rem;
    z-index: 0;
    background-color: #2c714c;
    align-self: flex-start;
    border-radius: 30px;
    min-height: 24px;
}

#toDoList.cardview li  .liClassification{
    margin: 15px 8px;
    padding: 5px 12px;
    color: #e4e5e7;
    font-size: 0.8rem;
    z-index: 0;
    background-color: #5267c4;
    align-self: flex-start;
    border-radius: 30px;
    min-height: 24px;
    white-space: nowrap;
}

#toDoList.listview li .liClosingDate{
  margin: 15px 8px;
  padding: 5px 12px;
  color: #e4e5e7;
  font-size: 0.8rem;
  z-index: 0;
  background-color: #2c714c;
  border-radius: 30px;
  min-height: 24px;
}

#toDoList.listview li  .liClassification{
  margin: 15px 8px;
  padding: 5px 12px;
  color: #e4e5e7;
  font-size: 0.8rem;
  z-index: 0;
  background-color: #5267c4;
  border-radius: 30px;
  min-height: 24px;
  white-space: nowrap;
  order: -1;
}

#toDoList.cardview li button:first-of-type {
    background: none;
    border: none;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: translateX(-10%);
    color: #e4e5e7;
    font-size: 0.8rem;
    z-index: 1;
    opacity: 0;
    transition: .3s ease-out;
    cursor: pointer;
    text-indent: -9999em;
    background-image: url(img/Cancel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
#toDoList.cardview li button:last-of-type {
    background: none;
    border: none;
    z-index: 2;
    position: absolute;
    bottom: 5px;
    right: 5px;
    transform: translateX(-140%);
    color: #e4e5e7;
    font-size: 0.8rem;
    z-index: 1;
    opacity: 0;
    transition: .3s ease-out;
    cursor: pointer;
    background-image: url(img/Ok.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    text-indent: -9999em;
}

#toDoList.listview li button:first-of-type {
    white-space: nowrap;
    align-self: center;
}
#toDoList.listview li button:last-of-type {
    white-space: nowrap;
    align-self: center;
}

#toDoList.cardview li:hover button {
    opacity: 0.5;
}

#toDoList li.animated {
opacity: 0.7;
}


#toDoList.cardview li button + p {
    color: #2b2c31;
    font-size: 0.6rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

#toDoList.listview li button + p {
    color: #2b2c31;
    font-size: 0.6rem;
    padding: 20px;
}

#toDoList.cardview li .timeP {
    margin: 15px 8px;
    padding: 5px 12px;
    color: #e4e5e7;
    font-size: 0.8rem;
    z-index: 0;
    background-color: #3498db;
    align-self: flex-start;
    border-radius: 30px;
    min-width: 64px;
}

#toDoList.listview li .timeP {
  margin: 15px 8px;
  padding: 5px 12px;
  color: #e4e5e7;
  font-size: 0.8rem;
  z-index: 0;
  background-color: #3498db;
  border-radius: 30px;
  min-width: 64px;
}

#toDoList li:first-of-type {
    display: none;
    justify-content: start;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    transition: .1s;
    min-width: 200px;
    flex: 1 1 auto;
    min-height: 350px;
    opacity: 0.7;
    order: -1;
}

#toDoList li:first-of-type.active {
    display: flex;
}

#toDoList li .toDoAdd {
    width: 100%;
    flex: 1 1 auto;
    height: 100%;
    background-color: #3f4044;
    border-radius: 20px;
    display: none;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s ease-out;
    order: 0;
}

#toDoList li .toDoAdd.active {
    display: flex;
}

#toDoList li .toDoAdd p {
    font-size: 2rem;
    font-weight: bold;
    color: #f0f0f0;
    text-shadow: 2px 2px 8px #000;
    display: block;
    width: 100%;
    text-align: center;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#toDoList li .toDoAdd p:last-of-type {
    font-size: 1rem;
}

#toDoList li .toDoAdd:hover p{
    color: #ef535d;
}


#doneList {
    background-color: #1a1b1e;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 1rem;
    opacity: 1;
    transition: .3s ease-out;
    gap: 2rem;
    flex: 1 1 auto;
    pointer-events: all;
    position: absolute;
    display: none;
}

#doneList li {
    display: flex;
    justify-content: start;
    padding: 10px;
    background-color: #888;
    border-radius: 10px;
    position: relative;
    flex-wrap: wrap;
    transition: .1s;
    width: 100%;
    min-height: 50px;
}

#doneList li button:first-of-type {
    background: none;
    border: none;
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: #e4e5e7;
    font-size: 0.8rem;
    z-index: 1;
    opacity: 0;
    transition: .3s ease-out;
    cursor: pointer;
}

#doneList li:hover button {
    opacity: 1;
}

#doneList li span:first-of-type, #doneList li span:nth-of-type(2), #doneList li span:nth-of-type(3), #doneList li span:nth-of-type(4),#doneList li p {
    padding: 5px 15px;
    position: relative;
    border-radius: 25px;
}

#doneList li span:first-of-type {
    background-color: #6e6f78;
    min-width: 40px;
    margin-right: 1rem;
}

#doneList li span:nth-of-type(2){
    background-color: #888;
    margin-right: 2rem;
    min-width: 40px;
}

#doneList li span:nth-of-type(3), #doneList li span:nth-of-type(4),#doneList li p {
    margin-left: 0.5rem;
    min-width: 40px;
}

#doneList li span:nth-of-type(3) {
    background: #97D9E1;
}

#doneList li span:nth-of-type(4) {
    background: #FAACA8;
}

#doneList li span:nth-of-type(4):before {
    content: '생성일: ';
}

#doneList li p{
    background: #52ACFF;
}

#doneList li p:before { 
    content: '완료일: ';
}


.toDoAdd-overlay {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(29, 31, 33, .95);
    transition: opacity .3s ease-in;
}

.toDoAdd-overlay.active {
    opacity: 1;
    pointer-events: all;
}

.addWrapper {
    background-color: #fff;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.addfunctionBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease-out;
}

.addfunctionBtn.active {
    opacity: 1;
    pointer-events: all;
}

#add {
    background-color: #2b2c31;
    color: #ef535d;
    bottom: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
}

#add:before {
    content: '추가하기';
    position: absolute;
    font-size: 1rem;
    bottom: 120%;
    white-space: nowrap;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .3s  ease-out;
}

#add:hover:before {
    opacity: 1;
}

.deleteNoti {
    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 300px;
    height: 100px;
    transform: translateX(120%);
    border: 1px solid rgba(0,0,0,.13);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.07);
    border-radius: 3px;
    text-align: center;
    background-color: rgb(235, 235, 221);
    font-weight: bold;
}

@keyframes slideLeft {
    0%, 100%{ transform: translateX(120%);}
    10%,90%{ transform: translateX(-2rem);}
  }

.deleteNoti.active {
    animation: slideLeft 2s 1 cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
    display: flex;
}

.deleteNoti:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 10px;
    height: 100%;
    background-color: red;
    border-radius: 2px 0 0 2px;
}

.saveNoti {
    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 300px;
    height: 100px;
    transform: translateX(120%);
    border: 1px solid rgba(0,0,0,.13);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.07);
    border-radius: 3px;
    text-align: center;
    background-color: rgb(235, 235, 221);
    font-weight: bold;
}

.saveNoti.active {
    animation: slideLeft 2s 1 cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
    display: flex;
}

.saveNoti:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 10px;
    height: 100%;
    background-color: greenyellow;
    border-radius: 2px 0 0 2px;
}

.successNoti {
    display: none;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 300px;
    height: 100px;
    transform: translateX(120%);
    border: 1px solid rgba(0,0,0,.13);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.07);
    border-radius: 3px;
    text-align: center;
    background-color: rgb(235, 235, 221);
    font-weight: bold;
}

.successNoti.active {
    animation: slideLeft 2s 1 cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
    display: flex;
}

.successNoti:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 10px;
    height: 100%;
    background-color: skyblue;
    border-radius: 2px 0 0 2px;
}

